.intro-question {
	margin-top: 60px;
	.container {
		width: 945px;
		max-width: calc(100% - 20px);
	}
	&__title {
		justify-content: center;
		padding: 0 50px;
		text-align: center;
		.title {
			font-family: "Montserrat";
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 700;
			position: relative;
			line-height: 37px;
			&:after {
				content: "";
				width: 60px;
				height: 3px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -20px;
				background: #000;
			}
		}
	}
	&__content {
		margin-top: 50px;
		&-left,&-right {
			width: calc(50% - 10px);
			.image {
				img {
					width: 543px;
					height: 1090px;
					object-fit: contain;
				}
			}
		}
		&-left {
			float: left;
		}
		&-right {
			margin-left: 20px;
			float: right;
		}
	}
}
.video-question {
	margin-top: 60px;
	.container-question {
		width: 600px;
		max-width: 1920px;
		margin: 0 auto;
		padding: 0;
	}
	.slide-video-question {
		.item-video {
			&__clip {
				position: relative;
				width: 570px;
				height: 570px;
				video {
					width: 100%;
					height: 100%;
					// background: #ebebeb;
					object-fit: cover;
				}
				.icon-play {
					width: 50px;
					height: 50px;
					background: $color_main;
					position: absolute;
					bottom: 20px;
					left: 20px;
					border-radius: 50%;
					cursor: pointer;
					i {
						font-size: 25px;
						color: #fff;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}
			}
			&__info {
				margin-top: 80px;
				.name {
					font-family: "Montserrat";
					font-size: 20px;
					font-weight: 700;
					text-transform: uppercase;
					text-align: center;
					line-height: 24px;
					text-decoration: underline;
    				padding-bottom: 20px;
				}
			}
		}
		.owl-nav {
			// margin-top: 120px;
			.owl-prev,.owl-next {
				width: 92px;
				height: 92px;
				position: absolute;
				top: 40%;
				transform: translateY(-50%);
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.owl-next {
				right: -200px;
			}
			.owl-prev {
				left: -200px;
			}
		}
	}
}
.forum {
	margin-top: 80px;
	.container {
		width: 600px;
		max-width: calc(100% - 20px);
	}
	&-title {
		justify-content: center;
		text-align: center;
		.title {
			font-family: "Montserrat";
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 700;
			line-height: 37px;
			position: relative;
			&:after {
				content:"";
				width: 60px;
				height: 3px;
				background: #3e3e3e;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -25px;
			}
		}
	}
	&-content {
		margin-top: 80px;
		&__detail {
			margin-bottom: 60px;
			font-size: 25px;
			line-height: 31px;
			text-align: justify;
			p,div {
				font-family: "Montserrat";
				font-size: 25px;
				font-weight: 600;
				padding-left: 20px;
				position: relative;
				margin-top: 15px;
				line-height: 31px;
				&:before {
					content: "";
					height: 6px;
					width: 6px;
					border-radius: 50%;
					background: #3e3e3e;
					position: absolute;
					left: 0;
					top: 12px;
				}
			}
		}
	}
}